body
{
   background-color:#306090; /*Donne au fond de la page une couleur bleuté bleuté*/
   color:#ffffff; /*Donne à la page la couleur blanche pour constraster avec le fond bleu*/
   font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif; /*Défini la police d'écriture du texte de la page*/
   font-size:small; /*Prédéfinit la taille de la police d'écriture en "petit"*/
   margin:2em 1%; /*Définit la marge extérieures*/
   padding:0; /*Définit la marge intérieure*/
}

#page
{
   color:#000000; /*couleur noir*/
   background-color:#ffffff; /*couleur de fond blanc*/
   border:3px solid #000000; /*définit une bordure de 3 pixels de couleur noir*/
   min-height:55em; /*Définit hauteur*/
   height:55em; /*Définit hauteur*/
}

nav
{
   left:5%; /*Positionnement*/
   position:absolute; /*Positionnement*/
   width:15%; /*Positionnement*/
   overflow:hidden; /*Positionnement*/
}

nav a
{
	display:block; /*donne la propriété block*/
	text-decoration:none; /*enlève toute décoration de texte (soulignage)*/
}

nav a:hover
{
	background-color:#00C8C5; /*couleur de surlignage de texte quand le pointeur souris passe dessus*/
}

html>body #page
{
   height:auto; /*hauteur automatique*/
}

header
{
	margin:2em 3% 1% 3%; /* créer une marge en % de pixels */
	padding:0.5em 0 0.05em 0; /* créer un bandeau en "em" */
	font-size:200%; /* donne la taille du bandeau */
	background-color:#8CAAFF; /* donne la couleur de l'encadrement */
	border-radius:25px; /* arrondi les bordures du bandeau en pixels */
}

header h1
{
	font-family:"Comic Sans MS",Arial,Helvetica,sans-serif; /* définit la police d'écriture du texte du bandeau */
	text-align:center; /* Centre le texte au milieu du bandeau */
}

h2
{
	color:#00C8C5; /*couleur de texte cyan*/
	border-color:#f09000; /*couleur de bordure de titre h2 orange*/
	border-style:solid; /*propriété*/
	border-width:0 0 3px 0; /*épaisseur bordure*/
	font-size:medium; /*taille de police moyen*/
	font-weight:700; /*hauteur de police*/
	margin:0; /*marge*/
	padding-left:0em; /*marge*/
	text-transform:uppercase; /*majuscules*/
}

nav h2:first-letter
{
	color:red; /*Donne à la première lettre de chaque titre h2 la couleur rouge*/
}

header .logo
{
	float:left; /*aligne à gauche*/
	margin-top:20px; /*position avec marge au dessus*/
	margin-bottom:5px; /*position avec marge en dessous*/
	margin-left:1%; /*position avec marge à gauche*/
	display:block; /*donne forme de bloc*/
}

ul
{
	margin-bottom:1.5em; /*définit position des listes*/
	margin-top:0.5em; /*définit position des listes*/
}

il
{
	list-style:none; /*indique qu'il n'y a pas de style de liste*/
}

article
{
	background-color:#f5f8fc; /*donne une couleur blanchâtre au paragraphe "article"*/
	border:1px solid #6090c0; /*définti une bordure de 1 pixel de couleur bleu*/
	line-height:150%; /*définit la hauteur de la ligne*/
	margin:0 3% 2em 21%; /*positionnement*/
	padding: 0 2% 3em 2%; /*positionnement*/
	color:#000000; /*couleur noir*/
}
